p, div, h1, ul, li, body {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #00CCFF; 
}

a:hover {
	color: #B8B8B8;
	font-size: 23px;
}

header h1 {
	display: inline;
	float: left;
	font-family: Impact, Charcoal, sans-serif;
	margin-left: 15px;
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 4px;
}


header li {
	display: inline;
}

.nav li {
	padding-right: 15px;
	font-family: Georgia, serif;
	font-size: 20px;
}

.tag {
	clear: left;
	margin-left: 55px;
	color: #B8B8B8;
	font-size: 15px;
}

.nav {
	display: inline;
	float: right;
	color: #00CCFF;
	padding: 20px 10px 0 0;
}

main img {
	position: relative;
	z-index: 30;
	height: 550px;
	width: 400px;
	top: 105px;
	left: 130px;
	border: 5px solid black;
}

.resume {
	text-align: center;
	margin: 40px 0 40px 0;
	background-color: black;
}

.box {
	background-color: white;
	margin: 0 200px 0 200px;
}

.resume h2 {
	font-family: Helvetica, sans-serif;
}

.banner {
	position: relative;
	bottom: 275px;
	height: 200px;
	width: auto;
	background-color: black;
}

.banner p {
	color: white;
	display: inline;
	float: right;
	margin-right: 20px;
	font-size: 21px;
	margin-left: 140px;
	width: 475px;
	padding-top: 12px;
	padding-right: 30px;
}

form {
	border: 3px solid black;
	width: 450px;
	height: 620px;
	margin: 45px auto 45px auto;
	padding: 25px;
}

label, input, textarea {
	display: block;
	margin-bottom: 20px;
}

input[type="text"] {
	width: 450px;
	font-size: 20px;
}

textarea {
	width: 450px;
	height: 350px;
}


label {
	font-size: 20px;
}

footer {
	height: 20px;
	background-color: black;
}
